body {
  font-family: "
}
#quiz p{
  font-weight: bold;
}

 #quiz {
   font-size: 22px;
  /* margin-left: 10px; */
  background: white;
  /* padding: 10px 20px 10px 20px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#quiz p{
  font-weight: bold;
}
input {
  margin-bottom: 20px;
  display: block;
}

#textbox {
  height: 25px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}

#button {
  background:burlywood;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 16px;
  transition-duration: 0.5s;
  margin-top: 15px;
  float:right;
}

#button:hover {
  background:silver;
  border: 1px solid whitesmoke;
  color: black;
  cursor: pointer;
}

#result {
  visibility: hidden; 
  background:whitesmoke;
  padding: 10px 20px 10px 20px;
  width: 1150px;
  height:200px;
  border-radius: 20px;
  float:left;
  position:relative;
  left:40px;
  margin-left: 20px;
  font-size: 30px;
  text-align:center;
}
/* #result #score{
  text-align:center;
} */

/* #picture {
  width: 375px;
  height: 245px;
} */

#mc {
  display: inline;
}

h1 {
  text-align: center;
}
.one {
  display: inline;
  position: relative;
  left: 10px;
}
