#mc {
  display: inline;
}

h1 {
  text-align: center;
}
.one {
  display: inline;
  position: relative;
  left: 10px;
}
#after_submit {
  visibility: hidden;
  background: #ff5459;
  padding: 10px 20px 10px 20px;
  width: 400px;
  border-radius: 20px;
  float: left;
  margin-left: 20px;
  font-size: 30px;
}
